<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/style.css">
        <title>Atividade Avaliativa</title>
    </head>

    <div class="container">
      <h1 class="h1">ATIVIDADE AVALIATIVA DE GEOGRAFIA</h1>
      <h6 class="h6">Anote, em seu caderno, as respostas corretas de cada questão e preencha o gabarito no final da página.</h6>
    </div>

    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body text-lg-center">
              <img class="img-fluid" src="/img/p.60.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Questão 1</h5>
              <p class="card-text">Quem foi Alfred Wegener?</p>
              <ol type="A">
                <li>O criador da teoria <b>Deriva Continental</b>.</li>
                <li>Um alemão que originou as placas tectônicas.</li>
                <li>Um cientista que encotrou o continente original.</li>
                <li>Um professor de Geografia</li>
              </ol>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Questão 2</h5>
              <p class="card-text">Segundo a teoria da Deriva Continetal</p>
              <ol type="A">
                <li>os continentes sempre foram separados.</li>
                <li>os continentes atuais são originários
                  de um único e gigantesco continente que existiu há centenas de milhões de anos,
                  denominado Pangeia.</li>
                <li>os continentes deixaram de existir há milhões de anos.</li>
                <li>a África já foi a América.</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <br>
     
    </div>

    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <img class="img-fluid" src="/img/p54.jpg" alt="">
            </div>
          </div>     
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <img class="img-fluid" src="/img/p55.jpg" alt="">
            </div>
          </div>     
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Questão 3</h5>
                  <p class="card-text">Qual a escala utilizada para o estudo do tempo de formação da Terra?</p>
                  <ol type="A">
                    <li>Tempo histórico</li>
                    <li>Tempo diário</li>
                    <li>Tempo indeterminado</li>
                    <li>Tempo geológico</li>
                  </ol>
                </div>
              </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Questão 4</h5>
              <p class="card-text">O que significa Cenozoica?</p>
              <ol type="A">
                <li>Vida recente</li>
                <li>Vida final</li>
                <li>Vida intermediária</li>
                <li>Vida antiga</li>
              </ol>
            </div>
          </div>      
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Questão 5</h5>
                  <p class="card-text">De acordo com o quadro A ESCALA DO TEMPO GEOLÓGICO, em que Era nós estamos vivendo?</p>
                  <ol type="A">
                    <li>Mesozoica</li>
                    <li>Paleozoica</li>
                    <li>Cenozoica</li>
                    <li>Proterozoica</li>
                  </ol>
                </div>
              </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Questão 6</h5>
              <p class="card-text">Qual das opções abaixo, melhor reprenta a Era Mesozoica?</p>
              <ol type="A">
                <li>O aparecimento dos primeiros mamíferos.</li>
                <li>A existência de dinossauros.</li>
                <li>O desenvolvimento de vegetação de grande porte.</li>
                <li>Surgimento de anfíbios e répteis.</li>
              </ol>
            </div>
          </div>      
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Questão 7</h5>
                  <p class="card-text">A Era Azoica começou mais ou menos</p>
                  <ol type="A">
                    <li>a 4,6 bilhões de anos atrás.</li>
                    <li>a 4 bilhões de anos atrás.</li>
                    <li>a 2,5 bilhões de anos atrás.</li>
                    <li>a 540 milhões de anos atrás.</li>
                  </ol>
                </div>
              </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Questão 8</h5>
              <p class="card-text">Qual é o Éon em que surgiu as primeiras formas de vida?</p>
              <ol type="A">
                <li>Hadeano</li>
                <li>Proterozoico</li>
                <li>Fanerozoico</li>
                <li>Arqueano</li>
              </ol>
            </div>
          </div>      
        </div>
      </div>
      <br>
    </div>

    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <img class="img-fluid" src="/img/p50.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Questão 9</h5>
              <p class="card-text">Segundo o texto acima equinócio é</p>
              <ol type="A">
                <li>O momento em que há a maior diferença de duração entre o dia e a noite.</li>
                <li>O momento em que dias e noites têm a mesma duração.</li>
                <li>O movimento que a Terra realiza em torno do Sol.</li>
                <li>É o fenômeno que marca o início do inverno no Hemisfério Sul.</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Questão 10</h5>
              <p class="card-text">Momento em que há a maior
                diferença de duração entre o
                dia e a noite. Ocorre em 20 ou
                21 de junho e marca o início
                do inverno no Hemisfério Sul e
                do verão no Hemisfério Norte;
                e de 21 a 23 de dezembro,
                marcando o início do verão no
                Hemisfério Sul e do inverno
                no Hemisfério Norte.</p>

                <p>Esse texto está se referindo</p>
              <ol type="A">
                <li>Ao Equinócio</li>
                <li>Ao movimento de Translação</li>
                <li>Ao Solstício</li>
                <li>Ao movimento de Rotação.</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>

    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
             <img class="img-fluid" src="/img/p52.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Questão 11</h5>
              <p class="card-text">No ______________, os dias são mais quentes e longos, em consequência do maior tempo de exposição aos raios solares,
                e as noites são mais curtas.</p>
                <p>A palavra correta para completar a informação acima é</p>
                <ol type="A">
                  <li>outono</li>
                  <li>verão</li>
                  <li>primavera</li>
                  <li>inverno</li>
                </ol>
            </div>
          </div>
      
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Questão 12</h5>
              <p class="card-text">Quais são as estações com as temperaturas mais amenas?</p>
              <ol type="A">
                <li>inverno e verão</li>
                <li>outono e inverno</li>
                <li>primavera e verão</li>
                <li>primavera e outono</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Questão 13</h5>
              <p class="card-text">Nas fotografias da página acima, é possível ver as características de cada uma das estações do ano, em regiões do planeta onde elas são bem definidas.</p>
                <p>Qual das opções abaixo mostra a sequência correta, considerando a fotografia e a respectiva estação do ano caracterizada.</p>
                <ol type="A">
                  <li>A - verão B- outono C- primavera D- inverno</li>
                  <li>A - outono B- inverno C- primavera D- verão</li>
                  <li>A - inverno B- verão C- outono D- primavera</li>
                  <li>A - primavera B- verão C- outono D- inverno</li>

                </ol>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>

    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
             <img class="img-fluid" src="/img/rede_fluvial.jpg" alt="">
            </div>
          </div>
        </div>  
      </div>
      <br>

      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Questão 14</h5>
              <p class="card-text">Ao observar a ilustração acima, podemos concluir que</p>
              <ol type="A">
                <li>A foz do rio é onde ele começa seu curso.</li>
                <li>As nascentes dos rios ficam nas regiões mais altas do relevo.</li>
                <li>O canal principal do rio está nas regiões mais altas do relevo.</li>
                <li>Os afluentes estão no canal principal dos rios.</li>
              </ol>
            </div>
          </div>
   
        </div>  
      </div>
      <br>
    </div>

    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <img class="img-fluid" src="/img/p120.jpg" alt="">
            </div>
          </div>
        </div>   
      </div>
      <br>
      <div class="row">
        <div class="col">
       <div class="card">
        <div class="card-body">
          <h5 class="card-title">Questão 15</h5>
          <p class="card-text">Por que a água dos lagos fechado se tornam salgadas?</p>
          <ol type="A">
            <li>Porque possuem uma saída de água.</li>
            <li>Porque os lagos são mares.</li>
            <li>Porque não apresentam uma passagem por onde a água possa escoar.</li>
            <li>Porque Deus temperou a água com sal de cozinha.</li>
          </ol>
        </div>
       </div>
        </div> 
  
      </div>
      <br>
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Questão 16</h5>
              <p class="card-text">Há também os lagos artificiais, criados para atender
                a alguma necessidade dos seres humanos. Exemplos
                desse tipo de lago são aqueles formados pelas barragens
                das usinas hidrelétricas e os ___________________.</p>
                <p>A palavra que completa essa informação é</p>
                <ol type="A">
                  <li>rios</li>
                  <li>açudes</li>
                  <li>lagos</li>
                  <li>geleiras</li>
                </ol>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Questão 17</h5>
              <p class="card-text">Geleiras são</p>
                <ol type="A">
                  <li>massas de gelo formadas em regiões
                    onde a queda de neve é superior ao degelo.</li>
                  <li>originados pelo
                    acúmulo de água em áreas mais
                    baixas de um terreno.</li>
                  <li>regiões geladas no centro do planeta Terra.</li>
                  <li>rios congelados.</li>
                </ol>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <img class="img-fluid" src="/img/pessoas_sem_agua.jpg" alt=""> 
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Questão 18</h5>
              <p class="card-text">Segundo o gráfico acima, em que parte do planeta Terra, as pessoas tinham menos acesso à água potável em 2015?</p>
              <ol type="A">
                <li>Europa e Ásia Central</li>
                <li>África Subsaariana</li>
                <li>América do Norte</li>
                <li>Oriente Médio e Norte da África</li>
              </ol>
            </div>
          </div>
        </div>
        <br>
      
    </div>
    <br>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <img class="img-fluid" src="/img/p137.jpg" alt="">
          </div>
        </div>
      </div>   
    </div>
    <br>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Questão 19</h5>
            <p class="card-text"> São grandes porções de ar que adquirem as características de temperatura e umidade das áreas onde se originam.</p>
            <p>O texto acima é um conceito de</p>
            <ol type="A">
              <li>Massas de ar</li>
              <li>Clima</li>
              <li>Tempo</li>
              <li>Atmosfera</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Questão 20</h5>
            <p class="card-text">De acordo com o mapa acima (Brasil: Massas de ar), a massa de ar que atua em Roraima é .</p>
            <ol type="A">
              <li>Tropical Atlântica</li>
              <li>Equatorial Atlântica</li>
              <li>Equatorial Continental</li>
              <li>Polar Atlântica</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>

<body>

<% //Gabarito %>
<div class="container">
    <h3 class="h3 text-lg-center">Gabarito</h3>
    <form method="POST" action="/gabarito_bim2">
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">@</span>
        <input type="text" class="form-control" placeholder="Digite seu nome completo" aria-label="Digite seu nome aqui" aria-describedby="basic-addon1" name="name" id="name">
        <span class="input-group-text" id="basic-addon1">@</span>
        <input type="text" class="form-control" placeholder="Digite sua turma" aria-label="Digite sua turma" aria-describedby="basic-addon1" name="turma" id="turma"  maxlength="2">  
    </div>
  
      <table class="table table-light">
        <thead>
          <tr>
            <th scope="col">Q 1</th>
            <th scope="col">Q 2</th>
            <th scope="col">Q 3</th>
            <th scope="col">Q 4</th>
            <th scope="col">Q 5</th>
            <th scope="col">Q 6</th>
            <th scope="col">Q 7</th>
            <th scope="col">Q 8</th>
            <th scope="col">Q 9</th>
            <th scope="col">Q 10</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input type="text" class="form-control" name="q1" maxlength="1"></td>
            <td><input type="text" class="form-control" name="q2" maxlength="1"></td>
            <td><input type="text" class="form-control" name="q3" maxlength="1"></td>
            <td><input type="text" class="form-control" name="q4" maxlength="1"></td>
            <td><input type="text" class="form-control" name="q5" maxlength="1"></td>
            <td><input type="text" class="form-control" name="q6" maxlength="1"></td>
            <td><input type="text" class="form-control" name="q7" maxlength="1"></td>
            <td><input type="text" class="form-control" name="q8" maxlength="1"></td>
            <td><input type="text" class="form-control" name="q9" maxlength="1"></td>
            <td><input type="text" class="form-control" name="q10" maxlength="1"></td>
          </tr>
        </tbody>
        <thead>
            <tr>
              <th scope="col">Q 11</th>
              <th scope="col">Q 12</th>
              <th scope="col">Q 13</th>
              <th scope="col">Q 14</th>
              <th scope="col">Q 15</th>
              <th scope="col">Q 16</th>
              <th scope="col">Q 17</th>
              <th scope="col">Q 18</th>
              <th scope="col">Q 19</th>
              <th scope="col">Q 20</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="text" class="form-control" name="q11" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q12" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q13" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q14" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q15" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q16" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q17" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q18" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q19" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q20" maxlength="1"></td>
            </tr>
          </tbody>
      </table>
      
      <div class="d-grid gap-2 m-xl-3">        
        <button type="reset" class="btn btn-danger">LIMPAR</button>
        <button type="submit" class="btn btn-success">RESPONDER</button>
      </div>
    </form>
  </div>
    
</body>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</html>